h1,h3,h2{
    text-align:center;
}
h2{
    color: black;
}

.scanner-part{
    width: 500px; 
    position: relative; 
    padding: 0px; 
    border: 1px solid silver;
}
.scanner-boarder{
    text-align: left; 
    margin: 0px;
}
.scanner-part2{
    position: absolute; 
    top: 10px; 
    right: 10px; 
    z-index: 2; 
    display: none; 
    padding: 5pt; 
    border: 1px solid rgb(23, 23, 23); 
    font-size: 10pt; 
    background: rgba(0, 0, 0, 0.69); 
    border-radius: 5px; 
    text-align: center; 
    font-weight: 400; 
    color: white;
}
.part3{
    color: white;
}
.report{
    color: white;
}
.img-1{
    position: absolute; 
    top: 4px; 
    right: 4px; 
    opacity: 0.6; 
    cursor: pointer; 
    z-index: 2; 
    width: 16px; 
    height: 16px;
}
.reader-message{
    display: none; 
    text-align: center; 
    font-size: 14px; 
    padding: 2px 10px; 
    margin: 4px; 
    border-top: 1px solid rgb(246, 246, 246);
}
.reader-scan{
    width: 100%; 
    min-height: 100px; 
    text-align: center;
}
.img-2{
    opacity: 0.8;
}
.reader-dashboard{
    width: 100%;
}
.dash-section{
    width: 100%; 
    padding: 10px 0px; 
    text-align: left;
}
.section-csr{
    display: block;
}
.section-csr{
    text-align: center
}
.private-file{
    text-align: center; 
    margin: auto auto 10px; 
    width: 80%; 
    max-width: 600px; 
    border: 6px dashed rgb(235, 235, 235); 
    padding: 10px; 
    display: none;
}
.label-1{
    display: inline-block;
}
.input-1{
    display: none;
}
.image-drop{
    font-weight: 400;
}
.line-1{
    text-align: center;
}
.html5-qrcode-element{
   text-decoration: underline; 
   cursor: pointer;
}
.fronts{
    opacity: 1;
}
@media(min-width:760px) {
    
    .styleQR {
        display: flex ;
    }
    .menu {
        display: flex;
    }
    
    body{
        background-color: #FFF0F3;
    }
    .scan-counter{
        display: flex;
    }
    .counter {
        font-size: 300%;
        background-color:#f15bb5;
        width: 1em;
        text-align: center;
        margin: 1em;
        padding: 1em;
    }
    .counter-section {
        margin: 1em;
        padding: 1em;
        border-radius: 0.25em;
        border: 1px solid;
    }
    .scanner-part{
        margin-left: auto;
        margin-right: auto;
        background-color: #FFCCD5;
        margin: 1em;
    }


}

.QR-space{
   padding: 3.5em;
    margin:2.5em;
}
.scanner-part{
    margin-left: auto;
    margin-right: auto;
    background-color: #FFCCD5;
    margin: 1em;
}

.style-1{
    background-color: #FF4D6D;
}
.style-2{
    background-color: #C9184A;
}
.style-3{
    background-color: #800F2F;
}
.header{
    background-color: #590D22;
}
.footer{
    background-color: #800F2F;
}
.counter-section {
    margin: 1em;
    padding: 1em;
    border-radius: 0.25em;
    border: 1px solid;
    margin-left: auto;
    margin-right: auto;
}
.scan-counter{
    display: flex;
}
.counter {
    font-size: 300%;
    background-color:#f15bb5;
    width: 1em;
    text-align: center;
    margin: 1em;
    padding: 1em;
}
.css-rainbow-text {
    background: linear-gradient(90deg, #f00, #ff2b00, #f50, #ff8000, #fa0, #ffd500, #ff0, #d4ff00, #af0, #80ff00, #5f0, #2bff00, #0f0, #00ff2b, #0f5, #00ff80, #0fa, #00ffd5, #0ff, #00d4ff, #0af, #007fff, #05f, #002bff, #00f, #2a00ff, #50f, #7f00ff, #a0f, #d400ff, #f0f, #ff00d4, #f0a, #ff0080, #f05, #ff002b, #f00);
    color: #0000;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 50px;
    font-weight: bold;
    display: inline-block;
    text-align: center;
}
.animated_rainbow_2 {
    text-align: center;
    font-size: 42px;
    font-family: Arial Black, Gadget, sans-serif;
    -webkit-animation: animatedBackground_b 5s linear infinite alternate;
}

@keyframes animatedBackground_b{
    0% {color: #ff8b00}
    10% {color: #e8ff00}
    20% {color: #5dff00}
    30% {color: #00ff2e}
    40% {color: #00ffb9}
    50% {color: #00b9ff}
    60% {color: #002eff}
    70% {color: #5d00ff}
    80% {color: #e800ff}
    90% {color: #ff008b}
    100% {color: #ff0000}
}
.css-flame-text {
    background-image: linear-gradient(0deg, #f00 25%, #ffb300 60%);
    color: #0000;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 50px;
    font-weight: bold;
    display: inline-block;
    text-align: center;
}
h3{
    text-align: center;
}