h1,h3,h2{
    text-align:center;
}
.scanner-part{
    width: 500px; 
    position: relative; 
    padding: 0px; 
    border: 1px solid silver;
}
.scanner-boarder{
    text-align: left; 
    margin: 0px;
}
.scanner-part2{
    position: absolute; 
    top: 10px; 
    right: 10px; 
    z-index: 2; 
    display: none; 
    padding: 5pt; 
    border: 1px solid rgb(23, 23, 23); 
    font-size: 10pt; 
    background: rgba(0, 0, 0, 0.69); 
    border-radius: 5px; 
    text-align: center; 
    font-weight: 400; 
    color: white;
}
.part3{
    color: white;
}
.report{
    color: white;
}
.img-1{
    position: absolute; 
    top: 4px; 
    right: 4px; 
    opacity: 0.6; 
    cursor: pointer; 
    z-index: 2; 
    width: 16px; 
    height: 16px;
}
.reader-message{
    display: none; 
    text-align: center; 
    font-size: 14px; 
    padding: 2px 10px; 
    margin: 4px; 
    border-top: 1px solid rgb(246, 246, 246);
}
.reader-scan{
    width: 100%; 
    min-height: 100px; 
    text-align: center;
}
.img-2{
    opacity: 0.8;
}
.reader-dashboard{
    width: 100%;
}
.dash-section{
    width: 100%; 
    padding: 10px 0px; 
    text-align: left;
}
.section-csr{
    display: block;
}
.section-csr{
    text-align: center
}
.private-file{
    text-align: center; 
    margin: auto auto 10px; 
    width: 80%; 
    max-width: 600px; 
    border: 6px dashed rgb(235, 235, 235); 
    padding: 10px; 
    display: none;
}
.label-1{
    display: inline-block;
}
.input-1{
    display: none;
}
.image-drop{
    font-weight: 400;
}
.line-1{
    text-align: center;
}
.html5-qrcode-element{
   text-decoration: underline; 
   cursor: pointer;
}
.fronts{
    opacity: 1;
}
@media(min-width:760px) {
    
    .styleQR {
        display: flex ;
    }
     .menu {
        display: flex;
    }
    .wrap {
     
     float: right;   
     margin: 0 15px 0 0;   
     border: 2px;    
    }
    body{
        background-color: #FFF0F3;
    }


}

.QR-space{
   padding: 3.5em;
    margin:2.5em;
}
.scanner-part{
    margin-left: auto;
    margin-right: auto;
    background-color: #FFCCD5;
    
}

.style-1{
    background-color: #FF4D6D;
}
.style-2{
    background-color: #C9184A;
}
.style-3{
    background-color: #800F2F;
}
.header{
    background-color: #590D22;
}
.footer{
    background-color: #800F2F;
}